POSTGRES_HOST=Your-postgres-host
POSTGRES_PORT=Your-postgres-port
POSTGRES_DB=Your-postgres-database
POSTGRES_USER=Your-postgres-user
POSTGRES_PASSWORD=Your-postgres-password

JWT_KEY=Your-jwt-key
JWT_ISSUER=Your-postgres-jwt-issuer
JWT_AUDIENCE=Your-postgres-jwt-audience